.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; // Optional dotted underline

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%; // Position above the image
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}