@use "../../_colors.scss";

.spell-wrapper {
    border-width: 4px;
    border-style: solid;
    border-radius: 15%;

    &:hover,
    &:focus {
        cursor: pointer;
        border-color: var(--bs-secondary-color);
    }

    &:active {
        border-style: groove;
    }
}

.spell-image {
    height: 7vh;
    width: 7vh;
    margin: 1vh;
    border-style: hidden;
    border-radius: 15%;
}

.border-selected {
    border-color: var(--bs-body-color);
}
.border-notselected {
    border-color: var(--bs-tertiary-bg);
}

.background-red {
    background-color: colors.$rtr-red-background-light;
}

.background-orange {
    background-color: colors.$rtr-orange-background-light;
}

.background-brown {
    background-color: colors.$rtr-brown-background-light;
}

.background-green {
    background-color: colors.$rtr-green-background-light;
}

.background-blue {
    background-color: colors.$rtr-blue-background-light;
}

.background-yellow {
    background-color: colors.$rtr-yellow-background-light;
}
.background-redgreen {
    background: linear-gradient(colors.$rtr-red-background-light, colors.$rtr-green-background-light);
}

