.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: $c-black;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.rollable-container {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}

.rollable-image {
  &:hover,
  &:focus {
    filter: brightness(1.25);
    cursor: pointer;
  }
}

.rollable-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: black;
  font-weight: bold;
}