.equipment-image {
    height: 8vh;
    width: 8vh;
    border-width: 3px;
    border-style: solid;
    border-radius: 15%;

    &:hover,
    &:focus {
        cursor: pointer;
        border-color: var(--bs-secondary-color);
    }

    &:active {
        border-style: groove;
    }
}

.selected {
    border-color: var(--bs-body-color);
}
.not-selected {
    border-color: var(--bs-tertiary-bg);
}
