# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/rules-reference/dist
/npc-generator/dist
/shop-generators/dist
/travel-encounters/dist
/foundry-vtt/reclaim-the-realm/dist
/dist
/tmp
/out-tsc
/bazel-out

# Node
/rules-reference/node_modules
/npc-generator/node_modules
/shop-generators/node_modules
/travel-encounters/node_modules
/foundry-vtt/reclaim-the-realm/node_modules
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/rules-reference/.angular/cache
/npc-generator/.angular/cache
/shop-generators/.angular/cache
/travel-encounters/.angular/cache
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# FoundryVtt
/foundry-vtt/reclaim-the-realm/packs/*
!/foundry-vtt/reclaim-the-realm/packs/_source/