<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div ngbDropdown class="d-inline-block me-5">
			<button type="button" class="btn btn-outline-primary" id="dropdown-marital-level" ngbDropdownToggle [innerHTML]="getCurrentlySelectedLevelText()"></button>
			<div ngbDropdownMenu aria-labelledby="dropdown-marital-level">
        <button ngbDropdownItem (click)="onManeuverLevelFilterChange(ManeuverLevel.ALL)">All Maneuver Levels</button>
				<button ngbDropdownItem (click)="onManeuverLevelFilterChange(ManeuverLevel.BASIC)">Basic Maneuvers</button>
				<button ngbDropdownItem (click)="onManeuverLevelFilterChange(ManeuverLevel.ADVANCED)">Advanced Maneuvers</button>
				<button ngbDropdownItem (click)="onManeuverLevelFilterChange(ManeuverLevel.MASTER)">Master Maneuvers</button>
        <button ngbDropdownItem (click)="onManeuverLevelFilterChange(ManeuverLevel.TRANSCENDENT)">Transcendent Maneuvers</button>
			</div>
		</div>
    <div ngbDropdown class="d-inline-block me-5">
			<button type="button" class="btn btn-outline-primary" id="dropdown-marital-type" ngbDropdownToggle [innerHTML]="getCurrentlySelectedTypeText()"></button>
			<div ngbDropdownMenu aria-labelledby="dropdown-marital-type" >
        <button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.ALL)">All Maneuver Types</button>
				<button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.AGILE)">Agile Manuevers</button>
				<button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.BRAWL)">Brawl Manuevers</button>
				<button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.FORTITUDE)">Fortitude Manuevers</button>
        <button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.LEADER)">Leader Manuevers</button>
        <button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.TACTICAL)">Tactical Manuevers</button>
        <button ngbDropdownItem (click)="onManeuverTypeFilterChange(ManeuverType.WEAPON)">Weapon Manuevers</button>
			</div>
		</div>
    <div ngbDropdown class="d-inline-block me-5">
			<button type="button" class="btn btn-outline-primary" id="dropdown-martial-ability-cost" ngbDropdownToggle [innerHTML]="getCurrentlySelectedManeuverCostText()"></button>
			<div ngbDropdownMenu aria-labelledby="dropdown-martial-ability-cost" >
        <button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.ANY)">Any Ability Cost</button>
				<button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.MP)">Maneuvers with [MP] Cost</button>
				<button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.REACTION)">Maneuvers with [REACTION] Cost</button>
				<button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.AP1)">Maneuvers with 1 [AP] Cost</button>
        <button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.AP2)">Maneuvers with 2 [AP] Cost</button>
        <button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.AP3)">Maneuvers with 3 [AP] Cost</button>
        <button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.AP4)">Maneuvers with 4 [AP] Cost</button>
        <button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.AP5)">Maneuvers with 5 [AP] Cost</button>
        <button ngbDropdownItem (click)="onManeuverCostChange(ManeuverCost.AP6)">Maneuvers with 6 [AP] Cost</button>
			</div>
		</div>
    <input class="form-control me-2" type="search" placeholder="Search in name, tags and description" aria-label="Search" (input)="onFreeTextFilterChange()" [(ngModel)]="currentFilterText">
  </div>
</nav>
<div class="d-flex justify-content-center">
  <div class="desktop-width-50 mt-3">
    <app-ability-list [abilities]="filteredManeuvers"></app-ability-list>
  </div>
</div>