<div class="d-flex flex-column">
    <h5 class="mb-3 text-center">Pre-defined Abilities</h5>
    <div class="d-flex justify-content-around">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownMovementAbilities" ngbDropdownToggle>Movement Abilities</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMovementAbilities">
                <div class="d-flex justify-content-center flex-column mx-2">
                    @for (ability of abilities.movementAbilities; track $index) {
                        <input type="checkbox" class="btn-check" [id]="'btncheck' + ability.name" autocomplete="off" (change)="handleAbilityCheckBoxUpdate($event, ability)">
                        <label class="btn btn-outline-primary my-1" [for]="'btncheck' + ability.name">{{ ability.name + ' (' + ability.pointsCost + ')' }}</label>
                    }
                </div>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownOtherAbilities" ngbDropdownToggle>Other Abilities</button>
            <div ngbDropdownMenu aria-labelledby="dropdownOtherAbilities">
                <div class="d-flex justify-content-center flex-column mx-2">
                    @for (ability of abilities.otherAbilities; track $index) {
                        <input type="checkbox" class="btn-check" [id]="'btncheck' + ability.name" autocomplete="off" (change)="handleAbilityCheckBoxUpdate($event, ability)">
                        <label class="btn btn-outline-primary my-1" [for]="'btncheck' + ability.name">{{ ability.name + ' (' + ability.pointsCost + ')' }}</label>
                    }
                </div>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownSupportAbilities" ngbDropdownToggle>Support Abilities</button>
            <div ngbDropdownMenu aria-labelledby="dropdownSupportAbilities">
                <div class="d-flex justify-content-center flex-column mx-2">
                    @for (ability of abilities.supportAbilities; track $index) {
                        <input type="checkbox" class="btn-check" [id]="'btncheck' + ability.name" autocomplete="off" (change)="handleAbilityCheckBoxUpdate($event, ability)">
                        <label class="btn btn-outline-primary my-1" [for]="'btncheck' + ability.name">{{ ability.name + ' (' + ability.pointsCost + ')' }}</label>
                    }
                </div>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownReactionAbilities" ngbDropdownToggle>Reaction Abilities</button>
            <div ngbDropdownMenu aria-labelledby="dropdownReactionAbilities">
                <div class="d-flex justify-content-center flex-column mx-2">
                    @for (reaction of abilities.reactionAbilities; track $index) {
                        <input type="checkbox" class="btn-check" [id]="'btncheck' + reaction.name" autocomplete="off" (change)="handleReactionCheckBoxUpdate($event, reaction)">
                        <label class="btn btn-outline-primary my-1" [for]="'btncheck' + reaction.name">{{ reaction.name + ' (' + reaction.pointsCost + ')' }}</label>
                    }
                </div>
            </div>
        </div>
    </div>
</div>