<div class="p-1 border bg-body-tertiary mb-3">
    <h5 class = "mb-1">{{ ability?.name }}</h5>
    <p class="fst-italic my-0 text-body-secondary">Tags: {{ ability?.tags?.join('; ') }}</p>
    <p class="fst-italic my-0 text-body-secondary">{{ ability?.requirements | requirementsPrettier }}</p>
    <p class="description my-0"><span class="fw-bold">Cost:</span> {{ ability?.cost }}</p>
    <p class="description my-0"><span class="fw-bold">Range:</span> {{ ability?.range }}</p>
    <p class="description my-0"><span class="fw-bold">Target(s):</span> {{ ability?.target }}</p>
    <p class="description my-0"><span class="fw-bold">Duration:</span> {{ ability?.duration }}</p>
    <!-- TODO: make keywords for duration, range and targets-->
    <app-dynamic-content [content]="ability?.description | keywordProcessor"></app-dynamic-content>
    @if (isMartialManeuverAndHasPush()) {
        <p class="description mt-2 mb-0"><span class="fw-bold">Pushing extra cost:</span> {{ getPushingExtraCost() }}</p>
        <app-dynamic-content [content]="getPushingDescription() | keywordProcessor"></app-dynamic-content>
    }
    @if (isSpellAndHasAtHigherSpellPower()) {
        <p class="fst-italic mb-0">At higher Spell Power:</p>
        <app-dynamic-content [content]="getAtHigherSpellPower() | keywordProcessor"></app-dynamic-content>
    }
</div>