@use "sass:map";

.table-of-contents {
    --bs-scroll-height: 90vh;
}

.table-of-contents-btn-wrapper {
    padding-left: 1vw;
    padding-top: 3vh;
    z-index: 1;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
}
