@use "sass:map";

.table-of-contents {
    --bs-scroll-height: 90vh;
}

.table-of-contents-btn-wrapper {
    padding-left: 5px;
    padding-top: 1vh;
    z-index: 1;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
}
