@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.bold-text {
  font-weight: bold;
}

:root {
  --reclaim-the-realm-c-dark: #191813;
  --reclaim-the-realm-c-faint: #c9c7b8;
  --reclaim-the-realm-c-beige: #b5b3a4;
  --reclaim-the-realm-c-tan: #444444;
  --reclaim-the-realm-c-white: #ffffff;
  --reclaim-the-realm-c-black: #000000;
  --reclaim-the-realm-c-groove: #eeede0;
}

.theme-dark {
  --reclaim-the-realm-c-dark: #c9c7b8;
  --reclaim-the-realm-c-faint: #191813;
  --reclaim-the-realm-c-beige: #444444;
  --reclaim-the-realm-c-tan: #b5b3a4;
  --reclaim-the-realm-c-white: #000000;
  --reclaim-the-realm-c-black: #ffffff;
  --reclaim-the-realm-c-groove: #11121f;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border-radius: 1%;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-wide {
  position: relative;
  display: inline-block;
}
.tooltip-wide .tooltiptext-wide {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  border-radius: 1%;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 12px;
}
.tooltip-wide:hover .tooltiptext-wide {
  visibility: visible;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: var(--reclaim-the-realm-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.rollable-container {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}

.rollable-image:hover, .rollable-image:focus {
  filter: brightness(1.25);
  cursor: pointer;
}

.rollable-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: black;
  font-weight: bold;
}
.rollable-text-centered:hover, .rollable-text-centered:focus {
  color: whitesmoke;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.compact-grid {
  display: grid;
  gap: 1px;
  margin: 5px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-item-center {
  justify-self: center;
  align-self: center;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.align-self-center {
  justify-self: center;
  text-align: center;
}

.align-self-right {
  justify-self: flex-end;
  text-align: right;
}

/* Styles limited to reclaim-the-realm sheets */
.reclaim-the-realm .item-form {
  font-family: "Roboto", sans-serif;
}
.reclaim-the-realm .compact-input {
  height: 20px;
  font-size: 0.8rem;
}
.reclaim-the-realm .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.reclaim-the-realm .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}
.reclaim-the-realm .sheet-header .profile-img:hover, .reclaim-the-realm .sheet-header .profile-img:focus {
  filter: brightness(1.25);
  cursor: pointer;
}
.reclaim-the-realm .sheet-header .header-fields {
  flex: 1;
}
.reclaim-the-realm .sheet-tabs {
  flex: 0;
}
.reclaim-the-realm .sheet-body,
.reclaim-the-realm .sheet-body .tab,
.reclaim-the-realm .sheet-body .tab .editor {
  height: 100%;
}
.reclaim-the-realm .tab.biography {
  flex: 1;
}
.reclaim-the-realm .tab.biography .editor {
  height: 100%;
}
.reclaim-the-realm .tox .tox-editor-container {
  background: var(--reclaim-the-realm-c-white);
}
.reclaim-the-realm .tox .tox-edit-area {
  padding: 0 8px;
}
.reclaim-the-realm .add-btn {
  border-width: 1px;
  border-style: solid;
  border-color: green;
  color: green;
  background-color: black;
  text-align: center;
}
.reclaim-the-realm .add-btn:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.reclaim-the-realm .add-btn:not(:disabled):hover, .reclaim-the-realm .add-btn:not(:disabled):focus {
  color: lightgreen;
  border-color: lightgreen;
  background-color: darkslategray;
  cursor: pointer;
}
.reclaim-the-realm .delete-btn {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  color: red;
  background-color: black;
  text-align: center;
}
.reclaim-the-realm .delete-btn:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.reclaim-the-realm .delete-btn:not(:disabled):hover, .reclaim-the-realm .delete-btn:not(:disabled):focus {
  color: lightcoral;
  border-color: lightcoral;
  background-color: darkslategray;
  cursor: pointer;
}
.reclaim-the-realm .attributes {
  margin: 10px 0 5px;
}
.reclaim-the-realm .attributes th {
  padding-top: 5px;
  padding-bottom: 5px;
}
.reclaim-the-realm .attributes td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.reclaim-the-realm .resource-group {
  margin-right: 5px;
  margin-left: 5px;
}
.reclaim-the-realm .resource-btn {
  flex-shrink: 0;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
}
.reclaim-the-realm .resource-btn:hover, .reclaim-the-realm .resource-btn:focus {
  color: white;
  border-color: white;
  background-color: lightslategray;
  cursor: pointer;
}
.reclaim-the-realm .add-xp-btn {
  margin-left: 2px;
  margin-right: 2px;
  flex-shrink: 7;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: goldenrod;
  color: goldenrod;
  background-color: black;
  text-align: center;
}
.reclaim-the-realm .add-xp-btn:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.reclaim-the-realm .add-xp-btn:not(:disabled):hover, .reclaim-the-realm .add-xp-btn:not(:disabled):focus {
  color: lightgoldenrodyellow;
  border-color: lightgoldenrodyellow;
  background-color: darkslategray;
  cursor: pointer;
}
.reclaim-the-realm .resource-gauge-wrapper {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.reclaim-the-realm .resource-gauge-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reclaim-the-realm .resource-gauge {
  flex-grow: 5;
  margin-right: 3px;
  margin-left: 3px;
  height: 22px;
}
.reclaim-the-realm .resource-label-level {
  font-size: 1rem;
  font-weight: bold;
}
.reclaim-the-realm .resource-guage-red::-webkit-meter-optimum-value {
  background: red;
}
.reclaim-the-realm .resource-guage-red::-webkit-meter-suboptimum-value {
  background: darkred;
}
.reclaim-the-realm .resource-guage-red::-webkit-meter-even-less-good-value {
  background: darkred;
}
.reclaim-the-realm .resource-guage-green::-webkit-meter-optimum-value {
  background: green;
}
.reclaim-the-realm .resource-guage-green::-webkit-meter-suboptimum-value {
  background: darkgreen;
}
.reclaim-the-realm .resource-guage-green::-webkit-meter-even-less-good-value {
  background: darkgreen;
}
.reclaim-the-realm .resource-guage-blue::-webkit-meter-optimum-value {
  background: blue;
}
.reclaim-the-realm .resource-guage-blue::-webkit-meter-suboptimum-value {
  background: darkblue;
}
.reclaim-the-realm .resource-guage-blue::-webkit-meter-even-less-good-value {
  background: darkblue;
}
.reclaim-the-realm .resource-guage-gold::-webkit-meter-optimum-value {
  background: goldenrod;
}
.reclaim-the-realm .resource-guage-gold::-webkit-meter-suboptimum-value {
  background: goldenrod;
}
.reclaim-the-realm .resource-guage-gold::-webkit-meter-even-less-good-value {
  background: goldenrod;
}
.reclaim-the-realm .equipment-scrollable-table-wrapper {
  margin-top: 10px;
  height: 390px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.reclaim-the-realm .perk-scrollable-table-wrapper {
  margin-top: 0;
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.reclaim-the-realm .regular-table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.reclaim-the-realm .slim-table {
  margin-top: 0;
  margin-bottom: 0;
}
.reclaim-the-realm .slim-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 5px;
  padding-left: 5px;
}
.reclaim-the-realm .slim-table td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.reclaim-the-realm .clickable-table-row:hover, .reclaim-the-realm .clickable-table-row:focus {
  filter: brightness(1.5);
  cursor: pointer;
}
.reclaim-the-realm .status-effect {
  padding-top: 5px;
  padding-bottom: 5px;
}
.reclaim-the-realm .status-effect:hover, .reclaim-the-realm .status-effect:focus {
  cursor: pointer;
  background-color: var(--reclaim-the-realm-c-beige);
}
.reclaim-the-realm .status-effect-active {
  color: white;
  font-weight: bold;
}
.reclaim-the-realm .status-effect-inactive {
  color: grey;
}
.reclaim-the-realm .skill-container {
  overflow-y: scroll;
  height: 450px;
}
.reclaim-the-realm .skill-header {
  font-size: 1rem;
  font-weight: bold;
}
.reclaim-the-realm .skill-rollable {
  font-weight: bold;
}
.reclaim-the-realm .class-skill {
  color: yellow;
}
.reclaim-the-realm .increase-rank-btn {
  border-color: green;
  color: green;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  background-color: black;
  text-align: center;
}
.reclaim-the-realm .increase-rank-btn:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.reclaim-the-realm .increase-rank-btn:not(:disabled):hover, .reclaim-the-realm .increase-rank-btn:not(:disabled):focus {
  color: lightgreen;
  border-color: lightgreen;
  background-color: darkslategray;
  cursor: pointer;
}
.reclaim-the-realm .decrease-rank-btn {
  border-color: red;
  color: red;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  background-color: black;
  text-align: center;
}
.reclaim-the-realm .decrease-rank-btn:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.reclaim-the-realm .decrease-rank-btn:not(:disabled):hover, .reclaim-the-realm .decrease-rank-btn:not(:disabled):focus {
  color: lightcoral;
  border-color: lightcoral;
  background-color: darkslategray;
  cursor: pointer;
}
.reclaim-the-realm .reset-skills-btn {
  background-color: red;
  border-color: darkred;
  color: lightgray;
}
.reclaim-the-realm .reset-skills-btn:hover, .reclaim-the-realm .reset-skills-btn:focus {
  color: white;
  border-color: red;
  background-color: lightcoral;
  cursor: pointer;
}
.reclaim-the-realm .character-overview-scrollable {
  overflow-y: scroll;
  max-height: 560px;
}
.reclaim-the-realm .headline {
  margin-top: 0px;
}
.reclaim-the-realm .bordered-characteristic {
  border-radius: 3px;
  border-width: 1px;
  padding: 3px;
  border-style: solid;
}
.reclaim-the-realm .npc-overview-container {
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.reclaim-the-realm .increase-attribute-btn {
  margin-left: 5px;
  flex-shrink: 5;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  color: green;
  background-color: black;
  text-align: center;
}
.reclaim-the-realm .increase-attribute-btn:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.reclaim-the-realm .increase-attribute-btn:not(:disabled):hover, .reclaim-the-realm .increase-attribute-btn:not(:disabled):focus {
  color: lightgreen;
  border-color: lightgreen;
  background-color: darkslategray;
  cursor: pointer;
}
.reclaim-the-realm .attribute-points {
  text-align: center;
  margin-top: 0px;
}
.reclaim-the-realm .class-attribute {
  color: yellow;
}
.reclaim-the-realm .reset-attributes-btn {
  background-color: red;
  border-color: darkred;
  color: lightgray;
}
.reclaim-the-realm .reset-attributes-btn:hover, .reclaim-the-realm .reset-attributes-btn:focus {
  color: white;
  border-color: red;
  background-color: lightcoral;
  cursor: pointer;
}
.reclaim-the-realm .data-container {
  overflow-y: scroll;
  height: 480px;
}
.reclaim-the-realm .class-species-container {
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
.reclaim-the-realm .class-species-text {
  font-size: 1rem;
  font-weight: bold;
}
.reclaim-the-realm .abilities-container {
  height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.reclaim-the-realm .ability-characteristic {
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}
.reclaim-the-realm .class-core-feature {
  font-size: 1rem;
  font-weight: bold;
}
