<main>
  <nav aria-label="nav-tabs">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/rules" routerLinkActive="active">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/classes" routerLinkActive="active">Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/martial-maneuvers" routerLinkActive="active">Martial Maneuvers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/spells" routerLinkActive="active">Spells</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/hybrid-abilities" routerLinkActive="active">Hybrid Abilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/perks" routerLinkActive="active">Perks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ngbNavLink routerLink="/equipment" routerLinkActive="active">Equipment</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>