@use "../../../../colors";

.discipline-wrapper {
    border-style: solid;
    border-width: 2px;
}

.discipline-red {
    background-color: colors.$rtr-red-background-dark;
    border-color: colors.$rtr-red-border;
}

.discipline-blue {
    background-color: colors.$rtr-blue-background-dark;
    border-color: colors.$rtr-blue-border;
}

.discipline-white {
    background-color: colors.$rtr-white-background-dark;
    border-color: colors.$rtr-white-border;
}

.discipline-green {
    background-color: colors.$rtr-green-background-dark;
    border-color: colors.$rtr-green-border;
}

.discipline-yellow {
    background-color: colors.$rtr-yellow-background-dark;
    border-color: colors.$rtr-yellow-border;
}