<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div ngbDropdown class="d-inline-block me-4">
            <h6 style="white-space: nowrap;">{{ filteredEquipment.length + ' Items' }}</h6>
        </div>
        <div ngbDropdown class="d-inline-block me-5">
            <button type="button" class="btn btn-outline-primary" id="dropdown-equipment-tag" ngbDropdownToggle>{{ slectedEquipmentType }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-equipment-tag">
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.ALL)">{{ EquipmentType.ALL }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.WEAPON)">{{ EquipmentType.WEAPON }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.AMMUNATION)">{{ EquipmentType.AMMUNATION }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.ARMOUR)">{{ EquipmentType.ARMOUR }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.SHIELDS)">{{ EquipmentType.SHIELDS }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.WEARABLES)">{{ EquipmentType.WEARABLES }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.CONSUMBABLES)">{{ EquipmentType.CONSUMBABLES }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.TOOLS_AND_GADGETS)">{{ EquipmentType.TOOLS_AND_GADGETS }}</button>
                <button ngbDropdownItem (click)="onEquipmenTypeFilterChange(EquipmentType.SURVIVAL)">{{ EquipmentType.SURVIVAL }}</button>
            </div>
        </div>
        <input class="form-control me-2" type="search" placeholder="Search in name and description"
            aria-label="Search" (input)="onFreeTextFilterChange()" [(ngModel)]="currentFilterText">
    </div>
</nav>
<div class="d-flex justify-content-center">
    <div class="desktop-width-50 mt-3">
        <app-equipment-list [equipmentList]="filteredEquipment"></app-equipment-list>
    </div>
</div>