.action-container {
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: $c-text;
}

.success-result {
    background-color: darkgreen;
}

.failure-result {
    background-color: darkred;
}

.hit-result {
    background-color: darkslateblue;
}

.partialhit-result {
    background-color: darkorange;
}

.always-result {
    background-color: darkgoldenrod;
}