.increase-attribute-btn {
  margin-left: 5px;
  flex-shrink: 5;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  color: green;
  background-color: black;
  text-align: center;

  &:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: lightgreen;
    border-color: lightgreen;
    background-color: darkslategray;
    cursor: pointer;
  }
}

.attribute-points {
  text-align: center;
  margin-top: 0px;
}

.class-attribute {
    color: yellow;
}

.reset-attributes-btn {
    background-color: red;
    border-color: darkred;
    color: lightgray;

    &:hover,
    &:focus {
        color: white;
        border-color: red;
        background-color: lightcoral;
        cursor: pointer;
    }
}

.data-container {
    overflow-y: scroll;
    height: 480px;
}

.species-container {
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}