.item-form {
  font-family: $font-primary;
}

.compact-input {
    height: 20px;
    font-size: 0.8rem;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    &:hover,
    &:focus {
      filter: brightness(1.25);
      cursor: pointer;
    }
  }

  .header-fields {
    flex: 1;
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tab.biography {
  flex: 1;

  .editor {
    height: 100%;
  }
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.add-btn {
  border-width: 1px;
  border-style: solid;
  border-color: green;
  color: green;
  background-color: black;
  text-align: center;

  &:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: lightgreen;
    border-color: lightgreen;
    background-color: darkslategray;
    cursor: pointer;
  }
}

.delete-btn {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  color: red;
  background-color: black;
  text-align: center;

  &:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: lightcoral;
    border-color: lightcoral;
    background-color: darkslategray;
    cursor: pointer;
  }
}