.attributes {
  margin: 10px 0 5px;
}

.resource-group {
  margin-right: 5px;
  margin-left: 5px;
}

.resource-btn {
  flex-shrink: 0;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;

  &:hover,
  &:focus {
    color: white;
    border-color: white;
    background-color: lightslategray;
    cursor: pointer;
  }
}

.add-xp-btn {
  margin-left: 2px;
  margin-right: 2px;
  flex-shrink: 7;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: goldenrod;
  color: goldenrod;
  background-color: black;
  text-align: center;

  &:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
    background-color: darkslategray;
    cursor: pointer;
  }
}

.resource-gauge-wrapper {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.resource-gauge-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resource-gauge {
  flex-grow: 5;
  margin-right: 3px;
  margin-left: 3px;
  height: 22px;
}

.resource-label-level {
  font-size: 1rem;
  font-weight: bold;
}

.resource-guage-red::-webkit-meter-optimum-value {
  background: red;
}
.resource-guage-red::-webkit-meter-suboptimum-value {
  background: darkred;
}
.resource-guage-red::-webkit-meter-even-less-good-value {
  background: darkred;
}

.resource-guage-green::-webkit-meter-optimum-value {
  background: green;
}
.resource-guage-green::-webkit-meter-suboptimum-value {
  background: darkgreen;
}
.resource-guage-green::-webkit-meter-even-less-good-value {
  background: darkgreen;
}

.resource-guage-blue::-webkit-meter-optimum-value {
  background: blue;
}
.resource-guage-blue::-webkit-meter-suboptimum-value {
  background: darkblue;
}
.resource-guage-blue::-webkit-meter-even-less-good-value {
  background: darkblue;
}

.resource-guage-gold::-webkit-meter-optimum-value {
  background: goldenrod;
}
.resource-guage-gold::-webkit-meter-suboptimum-value {
  background: goldenrod;
}
.resource-guage-gold::-webkit-meter-even-less-good-value {
  background: goldenrod;
}
