.tag-text {
    flex-grow: 5;
    margin-right: 3px;
    background-color: #302831;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;;
    border-radius: 5px;
}

.requirement-text {
    margin-right: 3px;
    background-color: #302831;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;;
    border-radius: 5px;
}

.useage-cost-text {
    margin-right: 3px;
    background-color: #302831;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;;
    border-radius: 5px;
}