.character-overview-scrollable {
  overflow-y: scroll;
  max-height: 560px;
}

.headline {
    margin-top: 0px;
}

.bordered-characteristic {
    border-radius: 3px;
    border-width: 1px;
    padding: 3px;
    border-style: solid;
}

.npc-overview-container {
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.add-resistance-btn {
  margin-left: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  color: green;
  background-color: black;
  text-align: center;

  &:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: lightgreen;
    border-color: lightgreen;
    background-color: darkslategray;
    cursor: pointer;
  }
}

.delete-resistance-btn {
  margin-left: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  color: red;
  background-color: black;
  text-align: center;

  &:disabled {
    color: gray;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: lightcoral;
    border-color: lightcoral;
    background-color: darkslategray;
    cursor: pointer;
  }
}
