.headline {
    margin-top: 0px;
}

.bordered-characteristic {
    border-radius: 3px;
    border-width: 1px;
    padding: 3px;
    border-style: solid;
}

.npc-overview-container {
  height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}