$rtr-red-border: lightcoral;
$rtr-red-background-light: rgb(85, 0, 0);
$rtr-red-background-dark: rgb(50, 0, 0);

$rtr-orange-border: rgb(255, 128, 0);;
$rtr-orange-background-light: rgb(150, 75, 0);
$rtr-orange-background-dark: rgb(100, 50, 0);

$rtr-brown-border: burlywood;
$rtr-brown-background-light: rgb(85, 40, 40);
$rtr-brown-background-dark: rgb(42, 20, 20);

$rtr-green-border: rgb(0, 150, 0);
$rtr-green-background-light: rgb(0, 75, 0);
$rtr-green-background-dark: rgb(0, 30, 0);

$rtr-teal-border: teal;
$rtr-teal-background-light: rgb(0, 80, 80);
$rtr-teal-background-dark: rgb(0, 50, 50);

$rtr-light-green-border: rgb(170, 255, 170);
$rtr-light-green-background-light: rgb(50, 120, 50);
$rtr-light-green-background-dark: rgb(30, 80, 30);

$rtr-blue-border: rgb(0, 0, 150);
$rtr-blue-background-light: rgb(0, 0, 75);
$rtr-blue-background-dark: rgb(0, 0, 30);

$rtr-light-blue-border: rgb(200, 230, 255);
$rtr-light-blue-background-light: rgb(50, 50, 180);
$rtr-light-blue-background-dark: rgb(30, 30, 100);

$rtr-yellow-border: rgb(255, 255, 100);
$rtr-yellow-background-light: rgb(200, 200, 100);
$rtr-yellow-background-dark: rgb(150, 150, 100);

$rtr-dark-yellow-border: rgb(150, 150, 0);
$rtr-dark-yellow-background-light: rgb(100, 100, 0);
$rtr-dark-yellow-background-dark: rgb(50, 50, 0);

$rtr-dark-purple-border: purple;
$rtr-dark-purple-background-light: rgb(75,0,75);
$rtr-dark-purple-background-dark: rgb(30,0,30);

$rtr-light-purple-border: rgb(200, 0, 200);
$rtr-light-purple-background-light: rgb(120, 0, 120);
$rtr-light-purple-background-dark: rgb(60,0,60);

$rtr-pink-border: rgb(255, 192, 203);
$rtr-pink-background-light: rgb(130, 90, 100);
$rtr-pink-background-dark: rgb(80, 45, 50);

$rtr-white-border: rgb(255,255,255);
$rtr-white-background-light: rgb(200,200,200);
$rtr-white-background-dark: rgb(150,150,150);

$rtr-black-border: rgb(75, 75, 75);
$rtr-black-background-light: rgb(25,25,25);
$rtr-black-background-dark: rgb(0, 0, 0);
