$rtr-red-border: lightcoral;
$rtr-red-background-light: rgb(85, 0, 0);
$rtr-red-background-dark: rgb(50, 0, 0);

$rtr-orange-border: lightsalmon;;
$rtr-orange-background-light: rgb(100, 50, 0);
$rtr-orange-background-dark: rgb(50, 25, 0);

$rtr-brown-border: burlywood;
$rtr-brown-background-light: rgb(85, 40, 40);
$rtr-brown-background-dark: rgb(42, 20, 20);

$rtr-green-border: lightgreen;
$rtr-green-background-light: rgb(0, 75, 0);
$rtr-green-background-dark: rgb(0, 30, 0);

$rtr-blue-border: lightskyblue;
$rtr-blue-background-light: rgb(0, 0, 75);
$rtr-blue-background-dark: rgb(0, 0, 30);

$rtr-yellow-border: yellow;
$rtr-yellow-background-light: rgb(100, 100, 0);
$rtr-yellow-background-dark: rgb(50, 50, 0);

$rtr-white-border: rgb(255,255,255);
$rtr-white-background-light: rgb(200,200,200);
$rtr-white-background-dark: rgb(150,150,150);
