<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdown-marital-level" ngbDropdownToggle>{{ selectedClass }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-marital-level">
                <button ngbDropdownItem (click)="selectedClass = ClassNames.BARBARIAN">{{ ClassNames.BARBARIAN}}</button>
                <button ngbDropdownItem (click)="selectedClass = ClassNames.PRIEST">{{ ClassNames.PRIEST}}</button>
                <button ngbDropdownItem (click)="selectedClass = ClassNames.FIGHTER">{{ ClassNames.FIGHTER}}</button>
                <button ngbDropdownItem (click)="selectedClass = ClassNames.ROGUE">{{ ClassNames.ROGUE}}</button>
                <button ngbDropdownItem (click)="selectedClass = ClassNames.MAGE">{{ ClassNames.MAGE}}</button>
                <button ngbDropdownItem (click)="selectedClass = ClassNames.WARLOCK">{{ ClassNames.WARLOCK}}</button>
            </div>
        </div>
    </div>
</nav>
<div class="m-3">
    <app-class [playerClass]="getCurrentlySelectedClass()"></app-class>
</div>