@use "../../../../_colors.scss";

.ability-image {
    height: 48px;
    width: 48px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
}

.ability-divider {
    border-top: solid;
}

.ability-red {
    border-color: colors.$rtr-red-border;

    .header {
        background-color: colors.$rtr-red-background-light;
    }
    .body {
        background-color: colors.$rtr-red-background-dark;
    }
}

.ability-orange {
    border-color: colors.$rtr-orange-border;

    .header {
        background-color: colors.$rtr-orange-background-light;
    }
    .body {
        background-color: colors.$rtr-orange-background-dark;
    }
}

.ability-brown {
    border-color: colors.$rtr-brown-border;

    .header {
        background-color: colors.$rtr-brown-background-light;
    }
    .body {
        background-color: colors.$rtr-brown-background-dark;
    }
}

.ability-green {
    border-color: colors.$rtr-green-border;

    .header {
        background-color: colors.$rtr-green-background-light;
    }
    .body {
        background-color: colors.$rtr-green-background-dark;
    }
}

.ability-blue {
    border-color: colors.$rtr-blue-border;

    .header {
        background-color: colors.$rtr-blue-background-light;
    }
    .body {
        background-color: colors.$rtr-blue-background-dark;
    }
}

.ability-yellow {
    border-color: colors.$rtr-yellow-border;

    .header {
        background-color: colors.$rtr-yellow-background-light;
    }
    .body {
        background-color: colors.$rtr-yellow-background-dark;
    }
}

.ability-colourless {
    .header {
        background-color: var(--bs-body-bg);
    }
    .body {
        background-color: var(--bs-tertiary-bg);
    }
}