@use "../../../../_colors.scss";

.ability-image {
    height: 48px;
    width: 48px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
}

.casting-difficulty {
    font-size: 1.5rem;
}

.ability-divider {
    border-top: solid;
}

.ability-red {
    border-color: colors.$rtr-red-border;

    .header {
        background-color: colors.$rtr-red-background-light;
    }
    .body {
        background-color: colors.$rtr-red-background-dark;
    }
}

.ability-orange {
    border-color: colors.$rtr-orange-border;

    .header {
        background-color: colors.$rtr-orange-background-light;
    }
    .body {
        background-color: colors.$rtr-orange-background-dark;
    }
}

.ability-brown {
    border-color: colors.$rtr-brown-border;

    .header {
        background-color: colors.$rtr-brown-background-light;
    }
    .body {
        background-color: colors.$rtr-brown-background-dark;
    }
}

.ability-green {
    border-color: colors.$rtr-green-border;

    .header {
        background-color: colors.$rtr-green-background-light;
    }
    .body {
        background-color: colors.$rtr-green-background-dark;
    }
}

.ability-light-green {
    border-color: colors.$rtr-light-green-border;

    .header {
        background-color: colors.$rtr-light-green-background-light;
    }
    .body {
        background-color: colors.$rtr-light-green-background-dark;
    }
}

.ability-blue {
    border-color: colors.$rtr-blue-border;

    .header {
        background-color: colors.$rtr-blue-background-light;
    }
    .body {
        background-color: colors.$rtr-blue-background-dark;
    }
}

.ability-black {
    border-color: colors.$rtr-black-border;

    .header {
        background-color: colors.$rtr-black-background-light;
    }
    .body {
        background-color: colors.$rtr-black-background-dark;
    }
}

.ability-yellow {
    border-color: colors.$rtr-yellow-border;

    .header {
        background-color: colors.$rtr-yellow-background-light;
    }
    .body {
        background-color: colors.$rtr-yellow-background-dark;
    }
}

.ability-white {
    border-color: colors.$rtr-white-border;

    .header {
        background-color: colors.$rtr-white-background-light;
    }
    .body {
        background-color: colors.$rtr-white-background-dark;
    }
}

.ability-dark-purple {
    border-color: colors.$rtr-dark-purple-border;

    .header {
        background-color: colors.$rtr-dark-purple-background-light;
    }
    .body {
        background-color: colors.$rtr-dark-purple-background-dark;
    }
}

.ability-pink {
    border-color: colors.$rtr-pink-border;

    .header {
        background-color: colors.$rtr-pink-background-light;
    }
    .body {
        background-color: colors.$rtr-pink-background-dark;
    }
}

.ability-light-blue {
    border-color: colors.$rtr-light-blue-border;

    .header {
        background-color: colors.$rtr-light-blue-background-light;
    }
    .body {
        background-color: colors.$rtr-light-blue-background-dark;
    }
}

.ability-light-purple {
    border-color: colors.$rtr-light-purple-border;

    .header {
        background-color: colors.$rtr-light-purple-background-light;
    }
    .body {
        background-color: colors.$rtr-light-purple-background-dark;
    }
}


.ability-teal {
    border-color: colors.$rtr-teal-border;

    .header {
        background-color: colors.$rtr-teal-background-light;
    }
    .body {
        background-color: colors.$rtr-teal-background-dark;
    }
}


.ability-colourless {
    .header {
        background-color: var(--bs-body-bg);
    }
    .body {
        background-color: var(--bs-tertiary-bg);
    }
}

.ability-redgreen {
    .header {
        background: linear-gradient(0.25turn, colors.$rtr-red-background-light, colors.$rtr-green-background-light);
    }
    .body {
        background: linear-gradient(0.25turn, colors.$rtr-red-background-dark, colors.$rtr-green-background-dark);
    }
}

.ability-bluewhite {
    .header {
        background: linear-gradient(0.25turn, colors.$rtr-blue-background-light, colors.$rtr-white-background-light);
    }
    .body {
        background: linear-gradient(0.25turn, colors.$rtr-blue-background-dark, colors.$rtr-white-background-dark);
    }
}
